<% mascot = @user&.mascot || 'ki' %>

<h2>NNN Pledge</h2>

<p>I hereby pledge, as <%= mascot.capitalize %> as my witness, that I will not cum, squirt, ejaculate, orgasm,
  or otherwise experience any derivative thereof a pelvic sneeze, during the entire month of November, so help
  me <%= mascot.capitalize %>. Any such
  action undertaken by myself, the undersigned, will be post-orgasmically presumed to have been my fault, and as such
  <strong>will brand my Walltaker profile with an unremovable indicator of my inability to not touch my
    genitals.</strong> I understand that Gray will find my begging to remove this funny, and will only decide to make
  the font bigger if you ask to remove it.</p>
<p>My participation is voluntary, unless of course this is being signed during an account surrender, in which case
  it's not voluntary but still legally binding. (Of which legal jurisdiction is left as homework for the signee.)</p>

<br>

<div class="form__row stacked signature">
  Lizard witness:
  <div class="signature__inner lizard_type <%= mascot %>">
    <%= mascot %> lizard
    <small>&nbsp;
      <%= "OO boobs :)" if mascot == 'warren' %>
      <%= "goodluck!" if mascot == 'ki' %>
    </small>
  </div>
</div>

<%= form_with model: @nut_pledge, url: user_nut_pledge_path(@user.username) do |f| %>
  <%= f.label :username, class: 'form__row stacked signature' do %>
    Sign username if you agree to the above:
    <%= f.text_field :username %>
  <% end %>
  <%= f.submit 'Accept' %>
<% end %>
