<%# locals: (leash:) %>

<div class="accent-block spaced">
  <div class="accent-block__charm">
    <ion-icon role="presentation" name="eye"></ion-icon>
    Preview
  </div>
  <div data-controller="user-reference"><%= leash.pet.username %></div>
</div>

<%= form_with(model: leash) do |form| %>
  <%= form.label :flair, class: 'form__row' do %>
    Flair text:
  <% end %>
  <%= form.text_field :flair %>
  <%= form.submit "Save Flair for #{leash.pet.username}" %>
<% end %>
