<% past_link = @past_link %>

<%= turbo_frame_tag "past_link_modal" do %>
  <h4>Previous wallpaper from <%= past_link.set_by&.username || "anon" %></h4>
  <a href="<%= past_link.post_url %>" class="link-history--modal--image-preview" target="_blank">
  <%= image_tag past_link.post_thumbnail_url %>
  </a>

  <%= render 'links/reaction', past_link: past_link %>
  <% if current_user == past_link.link.user%>
      <%= form_with url: url_for(controller: :links, action: :new_reaction, id: past_link.link.id, past_link_id: past_link.id), class: 'set-post-response' do |form| %>
          <div>
          <%= form.text_field :response_text, placeholder: 'How do you feel about this wallpaper?', autocomplete: 'off' %>
          <%= form.select :response_type, [['Love it!', :horny], ['Hate it!', :disgust], ['I came', :came]] %>
          <%= form.submit 'Reply' %>
          </div>
      <% end %>
  <% end %>
<% end %>
