<%# locals: (survey:) %>

<%= form_with(model: survey) do |form| %>
  <div class="form__row stacked">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form__row stacked">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.submit class: 'accent-block__button' %>
<% end %>
