<%# locals: (survey:, edit: false) %>

<h2><%= survey.title %></h2>

<%= tag.p survey.description %>

<div data-controller="form">
  <dialog class="modal" data-form-target="modal">
    <div id="form_element_modal"></div>
  </dialog>

  <%= turbo_frame_tag :survey do %>
    <% if edit %>
      <% survey.form_elements.each do |element| %>
        <%= render 'form_elements/form_element', form_element: element, edit: true %>
      <% end %>
    <% else %>
      <% if survey.form_elements.count > 0 %>
        <%= form_with url: survey_responses_path(survey) do |f| %>
          <% survey.form_elements.each do |element| %>
            <%= render 'form_elements/form_element', form_element: element, edit: false %>
          <% end %>

          <br/>

          <%= f.submit %>
        <% end %>
      <% else %>
        <h4>No questions yet</h4>
        <p>This survey is still missing a list of questions. If you are the owner, you can add them in the survey's <span class="mock-link"><ion-icon role="presentation" name="build"></ion-icon> Edit</span> menu.</p>
      <% end %>
    <% end %>
  <% end %>
</div>