<div data-turbo-prefetch="false" class="task-tools">
  <div class="left">
    <%= link_to "#{@survey.user.username.capitalize}'s surveys", user_surveys_path(@survey.user.username) %>
  </div>
  <div class="right">
    <%= link_to survey_responses_path(@survey), class: 'no-underline' do %>
      <ion-icon role="presentation" name="file-tray-full"></ion-icon>
      Responses
    <% end %>
    <% if current_user && @survey.user == current_user %>
      <%= link_to edit_survey_path(@survey), class: 'no-underline' do %>
        <ion-icon role="presentation" name="build"></ion-icon>
        Edit
      <% end %>
      <%= button_to "Delete", @survey, method: :delete %>
    <% end %>
  </div>
</div>

<%= render @survey %>