<%
  mascot ||= 'ki'
  pervert ||= false
%>

<%= turbo_frame_tag 'title', target: '_top' do %>
  <span class="show-desktop">
    <%= link_to 'THE WALL TAKER JOURNAL.', root_path, class: 'no-underline title', target: '_top' %>

    <div class="mascot">
      <%= image_tag("marx.png", class: ["mascot__under-cover", mascot, pervert ? 'nsfw' : 'sfw']) if is_surrender_controller_session? %>

      <% if mascot == 'ki' %>
        <%= image_tag("mascot/Ki#{pervert ? 'NSFW' : ''}.png", alt: 'A suave little lizard welcoming you to the website.', class: 'mascot', height: 190) %>
      <% elsif mascot == 'warren' %>
        <%= image_tag("mascot/Warren#{pervert ? 'N' : ''}SFW.png", alt: 'A suave little lizard welcoming you to the website.', class: 'mascot', height: 190) %>
      <% elsif mascot == 'taylor' %>
        <%= image_tag("mascot/Taylor#{pervert ? 'N' : ''}SFW.png", alt: 'A suave little lizard welcoming you to the website.', class: 'mascot', height: 190) %>
      <% end %>
    </div>
  </span>
  <span class="show-mobile">
    <%= link_to 'WTJ', root_path, class: 'no-underline', target: '_top' %>

    <%= image_tag("mascot/Ki#{pervert ? 'NSFW' : ''}.png", alt: 'A suave little lizard welcoming you to the website.', class: 'mascot', height: 100) if mascot == 'ki' %>
    <%= image_tag("mascot/Warren#{pervert ? 'N' : ''}SFW.png", alt: 'A suave little lizard welcoming you to the website.', class: 'mascot', height: 100) if mascot == 'warren' %>
    <%= image_tag("mascot/Taylor#{pervert ? 'N' : ''}SFW.png", alt: 'A suave little lizard welcoming you to the website.', class: 'mascot', height: 100) if mascot == 'taylor' %>
  </span>
<% end %>